@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400|Roboto:400");

@import url("https://fonts.googleapis.com/css?family=Gothic+A1:200,300,700,800");

:root {
--mdc-theme-background: #fff;
--mdc-theme-error: #b00020;
--mdc-theme-on-error: #fff;
--mdc-theme-on-primary: #fff;
--mdc-theme-on-secondary: #fff;
--mdc-theme-on-surface: #000;
--mdc-theme-primary: #0040FF;
--mdc-theme-secondary: #018786;
--mdc-theme-surface: #fff;
--onProcess: rgb(1, 156, 60);
--requested: rgb(220, 220, 0);
--accepted: rgb(102, 93, 29);
--closed: rgb(0, 83, 199);
--immobilized: rgb(182,149,192);
}

.screen a {
  /* display: contents; */
  text-decoration: none;
  z-index: 300;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

* {
  box-sizing: border-box;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
background-color: #ffffff;
width: 263px;
}

.mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor {
background-color: #ffffff;
width: 263px;
}

.mdc-list-item {
align-items: center;
display: flex;
height: 48px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
background-color: white;
}
