@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400|Roboto:400");

@import url("https://fonts.googleapis.com/css?family=Gothic+A1:200,300,700,800");

:root {
  --mdc-theme-background: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-error: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-primary: #0040FF;
  --mdc-theme-secondary: #018786;
  --mdc-theme-surface: #fff;
}

.screen a {
  /* display: contents; */
  text-decoration: none;
  z-index: 300;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

* {
  box-sizing: border-box;
}
